/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',cursive;
    background: #eeeeee;
}

header{
    position: fixed;
    top: -1px;
    left: 0;right: 0;
}

.profil{
    display: flex;
    justify-content:left;
    align-items:center; 
    margin-left: 15px;
}
.profil img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
}

.profil p{
    margin-left: 5px;
}